<%- include("./partials/header") -%>

    <h1 class="green-text text-center">Add a Recipe</h1>


<div class="container-fluid">
    <div class="row">

        <div class="image-space col-6">
        </div>

        <div class="col-6">
            <form action="">
                <div>
                    <label for="image" style="cursor:pointer;">Select Image</label>
                    <input type="file" accept="image/*" name="image" id="image">
                </div>
            </form>
        </div>
    </div>
</div>







<%- include("./partials/footer") -%>