<%- include("./partials/header") -%>

<div class="text-align add-page">
    <h1 class="green-text text-center">Add a Recipe</h1>

    <form action="">
        <div class="image-area">

            <img id="where" src="" alt="">

            <div>
                <label for="image" class="plus-img" style="cursor:pointer;"><i class="fa-solid fa-plus fa-4x button-plus"></i></label>
                <input type="file" accept="image/*" name="image" id="image">
            </div>

        </div>


        <div class="ingredients-area">
            <h2 class="green-text">Ingredients</h2>
            <div class="let-flex">
                <div class="input-insert let-flex">
                    <input type="text" name="input" class="ingredient-input" placeholder="Insert an Ingredient">
                    <input type="text" name="input" class="ingredient-input" placeholder="Insert an Ingredient">
                    <input type="text" name="input" class="ingredient-input" placeholder="Insert an Ingredient">
                </div>
            </div>
        </div>


        <div class="instruction-area">
            <h2 class="green-text">Instructions</h2>
            <div>
                <textarea class="text-area" name="instructions" cols="70" rows="10"></textarea>
            </div>
        </div>

        <button type="submit">Save Recipe</button>

    </form>


</div>









<%- include("./partials/footer") -%>