
body{
    background-color: #FFF8D6;
}

.brand{
    font-size: 2rem;
    width: 200px;
    margin: 5px 10px;
}

.search-bar{
    margin-left: auto;
    margin-right: 0;
    height: 25px;
    border: none;
}

nav{
    display: flex;
    width: 100%;
    background-color: #A4D0A4;
    align-items: center;

}

.glass{
    margin: 0 5px;
}


.footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
}