
/*-----------------base selectors---------------*/

body{
    background-color: #FFF8D6;
    font-family: 'Indie Flower', cursive;
}
nav{
    align-items: center;
    background-color: #A4D0A4;
    display: flex;
    width: 100%;
}

/*-----------------class selectors---------------*/

.brand{
    font-size: 2.5rem;
    margin: 5px 10px;
    width: 200px;
}

.footer {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.glass{
    margin: 0 5px;
}

.green-text{
    font-weight: bold;
    color: #617A55;
}

.search-bar{
    border: none;
    height: 25px;
    margin-left: auto;
    margin-right: 0;
}


/*-----------------ID's selectors---------------*/