/*-----------------base selectors---------------*/

body{
    background-color: #FFF8D6;
    font-family: 'Indie Flower', cursive;
}
nav{
    align-items: center;
    background-color: #A4D0A4;
    display: flex;
    width: 100%;
}

/*-----------------to all Page---------------*/

.brand{
    font-size: 2.5rem;
    margin: 5px 10px;
    width: 200px;
}

.container{
    padding: 0;
}

.glass{
    margin: 0 5px;
}

.green-text{
    font-weight: bold;
    color: #617A55;
}

.search-bar{
    border: none;
    height: 25px;
    margin-left: auto;
    margin-right: 0;
}

/*-----------------Home Page---------------*/

.even{
    background-color: #F7E1AE;
    height: 200px;
    width: 100%;
}

.footer {
    background-color: #FFF8D6;
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

.odd{
    background-color: #FFF8D6;
    height: 200px;
    width: 100%;
}

/*-----------------Add Page---------------*/

.add-page{
    padding-bottom: 10%;
}

.image-area{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: #D9D9D9;
}

input[type="file"] {
    display: none;
}

.let-flex{
    display: flex;
    flex-direction: column;
}

.ingredient-input{
    background-color: #F7E1AE;
    margin: 2% 15% 2% 0;
    border: none;
    width: 100%;
}

.plus-img{
    margin-left: 35%;
    margin-top: 30%;
}

.text-align{
    margin: 0 2%;
}

.text-area{
    background-color: #F7E1AE;
    width: 100%;
    resize: none;
}